<% if @article.errors.any? %>
    <h2>Mensaje de error</h2>
    <ul>
        <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>
<%= form_with(model: @article, local: true) do |f| %>
    <div class="form-group row"> 
        <%= f.label :Titulo, class: "col-2 col-form-label" %> <br/> <!-- f es el formulario, label sirve para generar una etiqueta HTML <label> asociada al campo :title, lo que mejora la accesibilidad y la experiencia del usuario al hacer clic en el texto del label para enfocar el campo correspondiente.-->
        <div class="col-10">
            <%= f.text_field :title, class: "form-control" %>
        </div>
    </div>

    <div class="form-group row"> 
        <%= f.label :description, class: "col-2 col-form-label" %> <br/>
        <div class="col-10">
            <%= f.text_area :description, rows: 5, class: "form-control" %>
        </div>
    </div>
    <div class="form-group row"> 
        <%= f.submit class: "btn btn-outline-light btn-lg" %>
    </div>
<% end %>
<%= link_to 'Back', articles_path %>